.form .section__title {
  font-size: 32px;
  margin: 88px 24px 0;
}

.form hr {
  margin: 16px auto 56px;
}

.form .text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  margin: 56px 24px 0;
}
form input {
  width: 100%;
  margin-top: 64px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  border-bottom: 3px solid var(--form-color);
  padding: 8px 0;
  outline: none;
  font-family: "Montserrat";
}

form input::placeholder {
  color: var(--form-color);
}

form input:focus {
  border-bottom: 3px solid var(--secondary-color);
}

form input:focus::placeholder {
  color: var(--text-primary-color);
  opacity: 1;
}

form label {
  margin-top: 64px;
  color: var(--form-color);
  font-size: 20px;
  margin-bottom: 8px;
}

form textarea {
  border: 2px solid var(--form-color);
  border-radius: 8px;
  outline: none;
  font-family: "Montserrat";
  width: 100%;
  height: 90px;
  min-width: 312px;
  max-width: 100%;
  min-height: 90px;
  max-height: 90px;
}

form textarea:focus {
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

form .button {
  border: none;
  width: 100%;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  form {
    margin: 56px 60px 0;
  }
}

@media screen and (min-width: 1440px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "name name"
      "number email"
      "assuntoTitle assuntoTitle"
      "label label"
      "text text"
      "button button";
    margin: 56px 325px 0;
    column-gap: 24px;
  }

  #name {
    grid-area: name;
  }

  #number {
    grid-area: number;
  }

  #email {
    grid-area: email;
  }

  #assuntoTitle {
    grid-area: assuntoTitle;
  }

  form label {
    grid-area: label;
  }

  #text {
    grid-area: text;
  }

  form .button {
    grid-area: button;
  }
}
