/* CSS RESET */
body,
img,
h1,
h2,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-primary-color);
}

.title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0 24px;
}

.text {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin: 0 24px;
}

.section__title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
  margin-top: 88px;
}

.section__title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  width: 280px;
  background-color: var(--secondary-color);
  padding: 16px 74px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-secondary-color);
  font-size: 20px;
  font-weight: var(--title-weight);
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .section__title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section__title h2 {
    margin-top: 104px;
  }
  .button {
    display: inline-block;
    width: 312px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}
