.hero__image {
  height: 400px;
  width: 100%;
  background: url(../assets/image/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
    font-size: 20px;
    font-weight: var(--text-weight);
    padding: 88px 60px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero__image {
    height: 768px;
    background: url(../assets/image/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero__image {
    background: url(../assets/image/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
