.hero__destino {
  width: 360px;
  height: 460px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image/image-conheca-japao-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: 65% center;
}

.hero__destino h2 {
  margin: 0;
  color: var(--text-secondary-color);
  font-size: 48px;
  text-align: left;
  padding: 65px 24px 0;
}

.hero__destino hr {
  margin: 16px 24px 32px;
}

.hero__destino .text {
  color: var(--text-secondary-color);
}
